.button {
    padding: 16px 20px;
    @include same-button-style;
    outline: none;
    display: inline-block;
    text-align: center;
    &-primary {
        background: $primary;
        color: $white;
        border-color: $primary;
        @include same-button-style;
        &:hover {
            background: $white;
            color: $deep-black;
        }
    }
    &-transparent {
        background: transparent;
        border-color: $platinum;
        color: $light-black;
    }
    &-discard {
        border-color: $gray;
        background: transparent;
    }
}
