.button {
    padding: 16px 20px;
    @include same-button-style;
    outline: none;
    display: inline-block;
    text-align: center;
    &-primary {
        background: $primary;
        color: $white;
        border-color: $primary;
        @include same-button-style;
        &:hover {
            background: $white;
            color: $deep-black;
        }
    }
    &-transparent {
        background: transparent;
        border-color: transparent;
        color: $light-black;
    }
    &-discard {
        border-color: $gray;
        background: transparent;
    }
    &-yellow {
        background: $yellow;
        color: #0F393B;
        border-radius: 32px;
        border-color: $yellow;
    }
    &-danger {
        background: $due;
        box-shadow: 0px 4px 15px rgba(251, 97, 127, 0.25), 0px 4px 15px rgba(251, 97, 127, 0.25);
        color: $white;
        border-color: $due;
    }
    &-white {
        background: $white;
        color: $light-black;
        border-color: $gray;
        &:hover {
            color: $primary;
        }
    }
}


