
.calls-btn {
    border: 1px solid #E5E5E5;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 16px;
    background: $white;
    &.active {
        background: $primary;
        color: $white;
    }
}
.calls {
    &__menu {
        .right {
            @include for-min-1600 {
                margin-left: auto;
            }
        }
    }
    &-search-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &-search-btn {
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 40px;
        height: 40px;
        border: none;

    }
}
.call-list-item {
    display: block;
    // margin-right: 20px;
    // @include for-max-1700 {
    //     margin-right: 16px;
    // }
    // &:nth-child(1) {
    //     width: 25px;
    // }
    // &:nth-child(2) {
    //     width: 75px;
    // }
    // &:nth-child(3) {
    //     width: 135px;
    //     @include for-max-1800 {
    //         width: 100px;
    //     }
    // }
    // &:nth-child(4) {
    //     width: 225px;
    //     @include for-max-1800 {
    //         width: 170px;
    //     }
    //     @include for-max-1700 {
    //         width: 100px;
    //     }
    // }
    // &:nth-child(5) {
    //     width: 120px;
    //     @include for-max-1800 {
    //         width: 100px;
    //     }
    // }
    // &:nth-child(6) {
    //     width: 100px;
    //     @include for-max-1700 {
    //         width: 70px;
    //     }
    // }
    // &:nth-child(7) {
    //     width: 100px;
    //     @include for-max-1700 {
    //         width: 70px;
    //     }
    // }
    // &:nth-child(8) {
    //     width: 150px;
    //     @include for-max-1800 {
    //         width: 100px;
    //     }
    // }
    // &:nth-child(9) {
    //     width: 90px;
    // }
    // &:nth-child(10) {
    //     width: 250px;
    // }
    // &:last-of-type {
    //     margin-right: 0;
    //     flex-grow: 1;
    //     display: flex;
    //     justify-content: flex-end;
    // }
    .icon-list {
        margin-right: 12px;
        position: relative;
        display: inline-block;
        .call-tooltip {
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
            padding: 4px 10px;
            padding-bottom: 6px;
            top: calc(100% + 6px);
            right: 0;
            display: none;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 60px 10px;
            border-bottom-right-radius: 70px 14px;
            color: $light-black;
            font-size: 14px;
            width: max-content;
        }
        &:hover {
            .call-tooltip {
                display: block;
            }
        }
    }
    .button-transparent {
        // transform: rotate(0deg);
        &[aria-expanded="true"] {
            transform: rotate(180deg);
        }
        &.collapsed {
            // transform: rotate(180deg);
        }
    }
    input[type='checkbox'] {
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: 0;
        &:checked {
            ~ label {
                background: $primary;
                svg {
                    display: block;
                }
            }
        }
    }
    label {
        width: 20px;
        height: 20px;
        border: 1px solid $platinum;
        border-radius: 4px;
        cursor: pointer;
        @include flex-center;
        z-index: 9;
        position: relative;
        svg {
            display: none;
        }
    }
    .checkbox-input {
        &:checked {
            ~.checkbox-label {
                background: transparent;
            }
        }
    }
    .checkbox-label {
        height: initial;
        width: initial;
        border: initial;
        display: initial;
    }
    .dropdown {
        .checkbox-group {
            margin-bottom: 16px;
        }
        .dropdown-menu {
            padding: 20px;
            border: 1px solid rgba(25, 183, 162, 0.5);
            box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            width: 220px;
            max-height: 480px;
            overflow: auto;
        }
    }
}
.call-list {
    
    &-header {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $platinum;
        padding-bottom: 12px;
        .call-list-item {
            font-weight: 600;
            &:last-of-type {
                justify-content: flex-end;
            }
        }

    }
    .call-item {
        border-bottom: 1px solid $platinum;
        &:last-of-type {
            border-bottom: 0;
            .call-collapse {
                border-bottom: 0;
            }
        }
    }
    &-body {
        display: flex;
        align-items: flex-start;
        padding: 20px 0;

        .scheduled {
            color: $success;
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 50%;
                background: $success;
                margin-right: 8px;
            }
        }
    }
    // collapse
    .call-collapse {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 80px;
        grid-gap: 32px;
        padding-bottom: 20px;
        border-bottom: 2px solid $primary;
        .item {
            border-radius: 4px;
            padding: 4px 8px 12px 12px;
            position: relative;
            .call-badge {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 4px 0px;
                font-size: 12px;
                color: $white;
                padding: 1px 5px;
                font-weight: 600;
            }
            &.pending {
                background: $pending;
                .call-badge {
                    background: $light-red;
                }
            }
            &.solved {
                background: $solved-bg;
                .call-badge {

                    background: $sky-blue;
                }
            }
        }
        .more-item {
            background: $light-black;
            border-radius: 4px;
            @include flex-center;
            flex-direction: column;
        }
    }
    .text-ellips {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.text-ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#quick-view {
    padding: 20px !important;
    .modal-header {
        height: 60px;
        padding: 4px 10px 4px 32px;
        background: $gray;
        .modal-title {
            margin-bottom: 0;
            color: $white;
        }
    }
    .modal-dialog {
        margin: 0 0 0 auto;
        height: 100%;
        max-width: 680px;
        .btn-close {
            position: absolute;
            top: 17px;
            right: 24px;
            z-index: 99;
            background: none;
            &::after {
                content: url('data:image/svg+xml; utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 17L17 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 17L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
        }
        .modal-content {
            border: none;
            border-radius: 8px;
            padding: 0;
            height: 100%;
            .header-modal {
                border-radius: 8px 8px 0px 0px;
            }
            .modal-body {
                padding: 24px 32px;
                height: 100%;
                overflow: auto;
                overflow-x: hidden;
                position: initial !important;
                .modal-body {
                    padding: 0;
                }

            }
        }
    }
    .modal-footer {
        margin: 0;
        display: none;
    }
    .modal-item {
        display: flex;
        margin-bottom: 16px;
        p {
            &:first-of-type {
                width: 145px;
                min-width: 145px;
            }

        }
        .dot {
            display: inline-block;
        }
        span {
            margin: 0 8px;
            display: inline-block;
        }
    }
}

.schedule-modal,
#send-message {
    padding: 20px;
    .modal-dialog {
        margin: 0 0 0 auto;
        max-width: 456px;
        .modal-content {
            padding: 32px 16px;
            max-height: 100%;
        }
    }
}
.call-log-modal {
    .btn-close {
        position: absolute;
        right: 30px;
        top: 14px;
    }
}

.call-summary-item {
    margin-bottom: 22px;
    max-width: 400px;
    img {
        height: 40px;
        width: 40px;
        border-radius: 4px;
    }
    .message {
        background: transparent;
        margin-bottom: 0;
        margin-top: 16px;
    }
}


.call-list-modal {
    .item {
        border-radius: 4px;
        padding: 4px 8px 12px 12px;
        position: relative;
        margin-bottom: 20px;
        .call-badge {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px 0px;
            font-size: 12px;
            color: $white;
            padding: 1px 5px;
            font-weight: 600;
        }
        &.pending {
            background: $pending;
            .call-badge {
                background: $light-red;
            }
        }
        &.solved {
            background: $solved-bg;
            .call-badge {

                background: $sky-blue;
            }
        }
    }
}

.status-scheduled {
    color: $success;
    &::before {
        content: '';
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: $success;
        margin-right: 8px;
    }
}

.phone-number input {
    outline: unset;
    padding: 4px 5px;
    border-radius: 0.25rem;
    border: thin solid #ddd;
    background: #eee;
    display: inline-block;
    width: 150px;
    min-width: 0px;
    text-align: center;
    overflow-x: auto;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}

.phone-number input:focus {
    outline: unset;
}

.phone-number.flat input {
    background: unset;
    font-weight: normal;
    border: unset;
}
