.login-space {
    padding: 60px;
    @include for-max-991 {
        padding: 32px;
    }
    @include for-max-767 {
        padding: 0;
    }
}
.login-row {
    min-height: 100vh;
    .left-side {
        padding: 50px;
        position: relative;
        @include flex-center;
        border-radius: 32px 0px 0px 32px;
        @include for-max-991 {
            padding: 20px;
        }
        @include for-max-767 {
            width: 100%;
            border-radius: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .back-btn {
            position: absolute;
            top: 40px;
            left: 50px;
            display: inline-flex;
            align-items: center;
            color: $white;
            @include for-min-w-200-min-h-500 {
                top: 20px;
            }
            @include for-min-w-200-min-h-900 {
                top: 40px;
            }
            @include for-max-991 {
                left: 20px;
            }
            @include for-max-767 {
                position: initial;
                margin-bottom: auto;
            }
            img {
                margin-right: 8px;
            }
        }
        .icons {
            position: absolute;
            right: 16px;
            top: 15px;
            cursor: pointer;
        }
        .checkbox-group {
            .checkbox-input {
                &:checked {
                    ~.checkbox-label {
                        &::after {
                            background: $primary;
                            border: 1px solid $primary;
                        }
                    }
                }
            }
            .checkbox-label {
                padding-left: 46px;
                font-weight: 400;
                &::after {
                    content: '';
                    width: 32px;
                    height: 32px;
                    border: 1px solid $light-black;
                    top: -5px;
                }
                &::before {
                    content: '';
                    width: 8px;
                    height: 13px;
                    top: 3px;
                    left: 13px;
                }
            }
        }
    }
    .right-side {
        background: url(../img/login-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 0px 32px 32px 0px;
        display: flex;
        align-items: flex-end;
        padding: 80px 48px;
        z-index: 1;
        @include for-max-767 {
            width: 100%;
            border-radius: 0;
            align-items: center;
            justify-content: center;
        }
        &::after {
            content: '';
            background: linear-gradient(360deg, #2F415E 0%, rgba(47, 65, 94, 0) 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: .85;
            border-radius: 0px 32px 32px 0px;
            @include for-max-767 {
                border-radius: 0;
            }
        }
        &-box {
            max-width: 360px;
            padding: 12px;
            background: $light-black;
            border-radius: 4px;
            p {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}
.login-box {
    padding: 60px;
    border-radius: 32px;
    background: $login-box;
    max-width: 600px;
    width: 100%;
    @include for-max-991 {
        padding: 20px;
    }
    @include for-max-767 {
        margin-bottom: auto;
        margin-top: 20px;
    }
}
.login-input {
    height: 48px;
    border: 1px solid $light-black !important;
    border-radius: 4px;
    padding: 4px 16px;
    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgb(25 183 162 / 25%);
        border: 1px solid $primary !important;
    }
}

.is-invalid {
    border: 1px solid $due !important;
    background: $danger-light !important;
    &:focus {
        border: 1px solid $danger !important;
    }
}
.invalid-feedback {
    color: $due !important;
    font-size: 16px !important;
    strong {
        font-weight: normal;
    }
}
