.order {
    &-sml-box {
        width: 100%;
        background: $white;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;
        box-shadow: none;
        position: relative;
        padding: 12px;
        text-align: left;
        .badges {
            position: absolute;
            background: red;
            top: -1px;
            right: -1px;
            width: 20px;
            height: 20px;
            border-top-right-radius: 4px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: white;
                width: 29px;
                height: 15px;
                left: -9px;
                bottom: -3px;
                transform: rotate(45deg);
            }
            &.open-badges {
                background: $open-badge;
            }
            &.archive-badges {
                background: $danger;
            }
            &.progress-badges {
                background: $brown;
            }
            &.revision-badges {
                background: $revision-badge;
            }
        }
        .number {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.open-archive {
    flex-wrap: wrap;
    position: relative;
    padding-right: 150px;
    &-right {
        margin: 0 16px;
    }
    &-box {
        width: 132px;
        margin-right: 16px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &-btn {
        margin-left: auto;
        margin-top: 33px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.inprogress-tab {
    padding-right: 0;
    @include for-max-1799 {
        flex-wrap: wrap;
    }
    &-top {
        flex-wrap: wrap;
    }
}

.open-archive-right {
    margin: 0 16px;
    @include for-max-575 {
        margin: 0 16px 0 0;
    }
}

.report {
    border-radius: 4px;
    padding: 32px;
    .chart-btn {
        margin-right: 12px;
        &:last-of-type {
            margin-right: 12px;
        }
    }
}

.order-table {
    @include order-table;
    .status {
        display: inline-flex;
        align-items: center;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: red;
            margin-right: 8px;
        }
        &.success-status {
            color: $success;
            &::before {
                background: $success;
            }
        }
        &.warning-status {
            color: $warning;
            &::before {
                background: $warning;
            }
        }
        &.danger-status {
            color: $danger;
            &::before {
                background: $danger;
            }
        }
        &.accepted-status {
            color: $accepted;
            &::before {
                background: $accepted;
            }
        }
    }
}

.group {
    .icon {
        position: absolute;
        right: 16px;
        top: 14px;
        pointer-events: none;
    }
}

.order-add {
    &-box {
        border-radius: 8px;
        &__form {
            padding: 32px;
        }
    }
}

.order-dropdown {
    button {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        background: $white;
        align-items: center;
        color: $light-black;
        height: 40px;
        border: none;
        &:hover {
            background: $white;
            color: $light-black;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            background: $white;
            color: $light-black;
        }
        &:active {
            box-shadow: none;
        }
    }
    .dropdown-menu {
        width: 100%;
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        padding: 0;
        .dropdown-item {
            padding: 16px;
            &:hover {
                background: $primary;
                color: $white;
            }
        }
        li {
            &:nth-child(1) {
                border-bottom: 1px solid $platinum;
                .dropdown-item {
                    &:hover {
                        background: $white;
                        color: $light-black;
                    }
                }
            }
        }
    }
}

.order-details-box {
    // padding: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
    overflow: hidden;
    .box-header {
        background: $primary-shade;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 32px;
        .edit {
            background: $white;
            width: 88px;
            height: 32px;
            padding: 8px 12px;
            color: $light-black;
            font-size: 16px;
            border-radius: 4px;
        }
        .add-call {
            width: initial;
        }
    }
    .box-body {
        // margin-top: 20px;
        padding: 20px 32px 32px 32px;
        border-radius: 0px 0px 8px 8px;
        height: 100%;
    }
    .order-box-oveflow {
        max-height: 850px;
        overflow: auto;
    }
}
.call-log-box {
    .box-body {
        max-height: 800px;
        overflow: auto;
        .log-message {
            max-width: 200px;
        }
    }
}

.activity-order-details-box {
    .box-body {
        max-height: 500px;
        overflow: auto;
    }
}

.order-details-top {
    // border-bottom: 1px solid $platinum;
    // padding-bottom: 20px;
    // .left {
    //     margin-bottom: 20px;
    // }
    // .right {
    //     margin-bottom: 20px;
    // }
}

.list__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    &:last-of-type {
        margin-bottom: 0;
    }
    .left-side {
        width: 140px;
        min-width: 140px;
    }
    .right-side {
        font-weight: 600;
    }
    span {
        margin: 0 15px;
    }
    .left-side,
    .right-side {
        color: $light-black;
    }
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.order-details-list {
    .left {
        .list__group {
            &:nth-of-type(2),
            &:nth-of-type(5),
            &:nth-of-type(10) {
                // margin-bottom: 32px;
            }
        }
    }
    .right {
        &:nth-of-type(3),
        &:nth-of-type(5) {
            // margin-bottom: 32px;
        }
    }
    .list__group {
        margin-bottom: 16px;
    }
    .middle {
        .group {
            .dashboard-input {
                border: 1px solid $gray;
                color: $light-black;
            }
        }
    }
}

.details-header {
    color: $light-black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.right-scedule {
    width: 132px;
    .dashboard-input {
        border: 1px solid $gray;
        font-weight: 700;
        color: $light-black;
    }
}

.right-edit {
    width: 132px;
    border: 1px solid $gray;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 700;
    padding: 2px 10px;
}

.button-132 {
    width: 132px;
}

.button-142 {
    width: 142px;
}

.col-log {
    // margin-top: 32px;
    table {
        border-collapse: separate;
        border-spacing: 0;
        th,
        td {
            border-color: $platinum !important;
        }
        tbody {
            tr {
                &:last-of-type {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.order-map {
    margin-top: 48px;
    &-checkbox {
        .checkbox-group {
            margin-right: 24px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.map {
    iframe {
        width: 100%;
        border-radius: 8px;
    }
}

.order-tabs {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid $platinum;
    &-menu {
        max-width: 488px;
        width: 100%;
        margin-right: 24px;
        .nav-link {
            background: $tabs-bg !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 20px;
            color: $light-black;
            font-size: 16px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
            &.active {
                color: $white;
                font-weight: bold;
                background: $primary !important;
                .icon-arrow-down {
                    display: block;
                }
            }
        }
        .icon-arrow-down {
            display: none;
            transform: rotate(-90deg);
        }
    }
    &-content {
        flex-grow: 1;
        background: $platinum;
        border-radius: 8px;
        padding: 24px;
        .report-preparation-tabs {
            max-width: 424px;
            .tabs-list {
                width: fit-content;
                border-bottom: 1px solid $white;
                .nav-item {
                    margin-right: 32px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                .nav-link {
                    padding: 0;
                    padding-bottom: 8px;
                    color: $light-black;
                    &.active {
                        background-color: transparent;
                        font-weight: bold;
                        position: relative;
                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: $primary;
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                        }
                    }
                }
            }
        }
        .dashboard-input {
            color: $light-black;
        }
    }
}

.document {
    &-file {
        &-folder {
            height: 40px;
            padding: 0 12px;
            display: flex;
            align-items: center;
            color: $light-black;
        }
        .file-upload {
            label {
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.file-upload {
    .file-name {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
        max-width: 300px;
    }
}

.feed {
    &-list {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.invoice-border {
    border-bottom: 1px solid $platinum;
    padding-bottom: 20px;
}

.share-box {
    border-radius: 4px;
    @include inline-flex-center;
}

.queries-row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    @include for-min-1600 {
        grid-column-gap: 30px;
    }
    .solution {
        border-top: 1px solid $sky-blue;
        padding-top: 8px;
    }
}

.queries-box {
    border-radius: 4px;
    padding: 4px 12px;
    .badges {
        border-radius: 4px 0px;
        width: 60px;
        height: 20px;
        color: $white;
        font-size: 12px;
        @include inline-flex-center;
        position: absolute;
        top: 0;
        left: 0;
        &.pending-badges {
            background: $light-red;
        }
        &.solved-badges {
            background: $sky-blue;
        }
    }
    &.pending {
        background: $pending;
        .icon-eye {
            color: $light-red;
        }
    }
    &.solved {
        background: $solved-bg;
        svg {
            path {
                fill: $sky-blue;
            }
        }
        .icon-eye {
            color: $sky-blue;
        }
    }
}

.middle-details-contact {
    margin-bottom: 70px;
}

.add-border {
    border-bottom: 1px solid $primary;
}

.box-header {
    font-size: 20px;
    color: $light-black;
    font-weight: bold;
}

table {
    border-collapse: separate !important;
    border-spacing: 0;
    tr {
        td,
        th {
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    tbody {
        tr {
            &:last-of-type {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}

.nav-link {
    font-size: 16px;
}

select {
    cursor: pointer;
}

.inspection-item {
    .top-bar {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .item {
            background: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            padding-bottom: 8px;
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
            &.active {
                border-bottom: 2px solid $primary;
                font-weight: bold;
            }
        }
    }
}

.workflow-content {
    display: flex;
    .list {
        flex-basis: 40%;
        background: $login-box;
        padding: 16px 20px;
        margin-right: 20px;
        .item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            cursor: pointer;
            border-radius: 4px;
            padding: 8px;
            p {
                color: $gray;
            }
            .ball {
                width: 24px;
                min-width: 24px;
                height: 24px;
                border: 1px solid $gray;
                border-radius: 50%;
                @include flex-center;
                margin-right: 16px;
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: 24px;
                    border-radius: 8px;
                    background: $gray;
                    position: absolute;
                    top: calc(100% + 17px);
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            p {
                line-height: 1;
            }
            &:last-of-type {
                .ball {
                    &::after {
                        display: none;
                    }
                }
            }
            img {
                display: none;
            }
            &.complete {
                .ball {
                    background: $success;
                    border-color: $success;
                    &::after {
                        background: $success;
                        width: 2px;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 6px;
                        height: 10px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        position: absolute;
                        transform: rotate(45deg);
                        top: 6px;
                    }
                }
                p {
                    color: $light-black;
                }
            }
            &.current {
                background: #b7191957;
                .ball {
                    border-color: transparent;
                    background-color: #942020;
                }
                img {
                    display: block;
                }
                p {
                    font-weight: bold;
                    color: #942020;
                }
            }
        }
        .item.disable {
            p {
                color: #bbb;
            }
            span.ball {
                background: #ddd;
                border-color: #ddd;
            }
        }
        .item.activeStep {
            background: #19b7a2;
            p {
                color: #fff;
            }
            span.ball {
                background: #19b7a2;
                border-color: #f6fdfc;
            }
        }
        .item.activeStep.current {
            background: #19b7a2;
            p {
                color: #fff;
            }
        }
        .item.disable.current {
            background: rgb(189 189 189);
            p {
                color: #fff;
            }
        }
    }
    .step-item {
        flex-basis: 60%;
        padding: 16px 20px;
        background: $login-box;
        border-radius: 4px;
        max-height: 850px;
        overflow-y: auto;
    }
    .step-items {
        position: relative;
        .edit-btn {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            background: $white;
            @include flex-center;
            position: absolute;
            right: 10px;
            top: -5px;
            border: 1px solid transparent;
            cursor: pointer;
        }
        .dashboard-input {
            border: 1px solid $gray;
        }
    }
    .preparation-input {
        select {
            font-weight: normal;
            border: 1px solid $gray;
        }
        .bottom-arrow-icon {
            color: $gray;
        }
        textarea {
            border: 1px solid $gray;
        }
    }
    .review-check {
        label {
            font-weight: normal;
            &::after {
                border: 1px solid $gray;
            }
        }
    }
    .submission-check {
        input {
            &:checked {
                ~label {
                    &::after {
                        background: #34A851 !important;
                    }
                }
            }
        }
    }
}

.scheduling-item {
    position: relative;
}

.document-upload {
    label {
        padding: 8px 12px !important;
        background: $white;
        border: none !important;
        font-weight: bold;
        font-size: 16px !important;
    }
}

.report-upload {
    display: inline-flex;
    align-items: center;
    label {
        padding: 0 !important;
        border: none !important;
        color: $primary !important;
    }
}

.note-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    .order-details-box {
        margin: 0 !important;
        &:nth-child(3) {
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
}

.message {
    background: $platinum;
    border-radius: 8px;
    padding: 6px 20px;
    max-width: 400px;
    p {
        color: $light-black;
    }
}

.chat-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    &:nth-child(odd) {
        .message {
            background: $chat-2;
        }
    }
    &:nth-child(even) {
        .message {
            background: $chat-3;
        }
    }
    &:nth-child(3n+4) {
        .message {
            background: $chat-4;
        }
    }
    &:nth-child(5n+5) {
        .message {
            background: $chat-5;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.chat-name {
    width: 240px;
    margin-right: 16px;
    @include for-max-1399 {
        min-width: 190px;
        width: 190px;
    }
    .chat-mail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        display: inline-block;
        @include for-max-1399 {
            max-width: 140px;
        }
        
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }
}

.note-chat {
    max-height: 400px;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9697A0;
}

//  modal
.modal {
    .modal-content {
        padding: 32px 16px;
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }
    .modal-header {
        border-bottom: 0;
        padding: 0;
    }
    .modal-body {
        padding: 0;
        .list_groups {
            .left-side {
                p {
                    &:first-of-type {
                        width: 150px;
                    }
                }
            }
        }
    }
    .modal-footer {
        padding: 0;
        border-top: 0;
        margin-top: 48px;
        .btn-primary {
            padding: 10px 50px;
            background: $primary;
            border-color: $primary;
        }
        .btn-secondary {
            background: transparent;
            padding: 10px 50px;
            color: $gray;
            border: none;
        }
    }
    .close {
        display: none;
    }
    .modal-title {
        margin-bottom: 24px;
    }
    .dashboard-textarea {
        border-color: $gray;
    }
}

.order-details-modal {
    .modal-dialog {
        max-width: 912px;
    }
    .modal-body {
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }
}

#borrower-info {
    .modal-dialog {
        max-width: 456px;
    }
}

#issue-info {
    .modal-dialog {
        max-width: 456px;
    }
}

#contact-info,
#provided-services {
    .modal-dialog {
        max-width: 456px;
    }
}

#client-info {
    .modal-dialog {
        @include for-min-1200 {
            max-width: 912px;
        }
    }
    .file-upload {
        label {
            height: 40px;
            display: inline-flex;
            align-items: center;
        }
    }
}

.group span.error-message {
    display: inline-block;
}

.invalid-form input,
.invalid-form select,
.invalid-form textarea,
.invalid-form .borderless-select .select2 .selection .select2-selection {
    border: thin solid #c44!important;
    color: #c44!important;
}

.invalid-form span.error-message {
    font-size: 14px;
    color: #af2a2a;
    font-weight: 500;
}

.invalid-form label{
    color: #af2a2a!important;
}

.order-details-header {
    .due {
        display: inline-block;
        color: $due;
        border: 1px solid $due;
        background: $due-shade;
        padding: 3px 16px;
        border-radius: 26px;
    }
}

.current-status-group {
    select {
        width: 132px;
        height: 40px;
        border: 1px solid $gray !important;
    }
}

.search-box {
    display: flex;
    .search-btn-icon {
        width: 40px;
        height: 40px;
        background: $gray;
        border-radius: 0px 4px 4px 0px;
        @include flex-center;
        border: none;
    }
    .search-input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
            outline: none;
        }
    }
}

.box-flex {
    .group {
        display: block;
        margin-bottom: 32px;
        &:last-of-type {
            margin-bottom: 0;
        }
        >.group {
            margin: 0;
        }
    }
}

.new-array-items {
    // margin-top: 15px;
    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 16px;
        background: $white;
        border-radius: 4px;
        margin-top: 12px;
    }
}
#borrower-info,
#contact-info {
    .new-array-items {
        .items {
            background: transparent;
            border: 1px solid $gray;
        }
    }
}

// select 2
.select2-container {
    .selection {
        .select2-selection {
            height: 40px;
            .select2-selection__rendered {
                height: 100%;
                display: flex;
                align-items: center;
            }
            .select2-selection__arrow {
                display: none;
            }
        }
    }
    .select2-dropdown {
        .select2-results {
            .select2-results__options {
                .select2-results__option--highlighted {
                    background: $primary;
                    color: $white;
                }
                .select2-results__option--selected {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }
    &.select2-container--focus {
        .select2-selection {
            border: 1px solid $primary;
        }
    }
}

//   border less
.borderless-select {
    .select2 {
        .selection {
            .select2-selection {
                border: none;
            }
        }
    }
}

//  v select
.v-select {
    padding: 0;
    &.vs--open {
        border: 1px solid rgba(25, 183, 162, 0.5);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .vs__dropdown-toggle {
        border: none;
        padding: 0;
        height: 100%;
        .vs__selected {
            margin: 0;
            padding: 0;
            color: $gray;
        }
        .vs__search {
            margin: 0;
        }
        .vs__actions {
            display: none;
        }
    }
    .vs__dropdown-menu {
        margin: 0;
        padding: 0;
        top: calc(100% + 1px);
        border: 1px solid rgba(25, 183, 162, 0.5);
        border-top: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        li {
            &:hover {
                background: $primary !important;
                color: $white;
            }
            &.vs__dropdown-option--selected {
                background-color: $primary !important;
                color: $white;
            }
            &.vs__dropdown-option--highlight {
                background-color: $primary !important;
                color: $white;
            }
        }
    }
    .vs__selected-options {
        align-items: center;
        padding: 0 16px;
    }
    .vs__search {
        display: none;
    }
}

.invalid-form {
    .vs__dropdown-menu {
        margin: 0;
        padding: 0;
        top: calc(100% + 1px);
        border: 1px solid $due;
        border-top: 0;
        box-shadow: 0px 4px 8px rgba(102, 15, 15, 0.08);
    }
    // .vs--open {
    //     border: 1px solid $due;
    // }
    .v-select {
        border: 1px solid $due;
    }
}

// revission modal
.revission-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $modal-bg;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    .revission-content {
        max-width: 680px;
        width: 100%;
        background: $platinum;
        box-shadow: -4px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        height: 100%;
        overflow: auto;
        .header {
            height: 60px;
            padding: 5px 24px 5px 32px;
        }
        .revission-body {
            padding: 20px 16px;
        }
    }
    .add-revission {
        padding: 32px 16px;
        border: 1px solid $primary;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }
}

.marked {
    display: flex;
    align-items: flex-start;
    .open {
        border: 1px solid $brown;
        color: $brown;
        padding: 0px 12px;
        display: inline-block;
        margin-right: 12px;
        border-radius: 16px;
    }
    .mark-delivery {
        border: 1px solid $success;
        color: $success;
        padding: 0px 12px;
        display: inline-block;
        border-radius: 16px;
    }
}

.button-box {
    display: flex;
    .action-btn {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: $platinum;
        @include flex-center;
        border: none;
        outline: none;
    }
}

.revission-card {
    padding: 16px;
    border-radius: 4px;
    &-header {
        margin-bottom: 20px;
    }
    &-top {
        border-bottom: unset;
        margin-bottom: 0px;
    }
    .solution {
        padding-top: 12px;
    }
}

.revission-card .revission-item:nth-last-child(1) .revission-card-top {
    margin-bottom: 0;
    border-bottom: unset;
}

.add-solution-box {
    .close-solution {
        padding: 0 10px;
        display: inline-block;
        border: 1px solid $gray;
        color: $gray;
        border-radius: 16px;
        margin-right: 12px;
    }
    .add-solution {
        padding: 0 10px;
        display: inline-block;
        border: 1px solid $primary;
        color: $primary;
        border-radius: 16px;
    }
}

.edit-revission {
    position: absolute;
    width: calc(100% - 48px);
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 30px 50px 0px rgba(0,0,0,0.60);
    top: 50px;
    z-index: 999;
    background: $white;
    border-radius: 4px;
    border: 1px solid $primary;
    padding: 32px 16px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}


.slide-y-enter-active,
.slide-y-leave-active {
    transition: opacity 0.3s;
    transform: translateY(0deg);
}
.slide-y-enter,
.slide-y-leave-to {
    opacity: 0;
    transform: translateY(-50deg);
}


.order-views {
    .search-box {
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &:focus {
                outline: none;
            }
        }
        .search-btn {
            border: none;
            outline: none;
            width: 32px;
            height: 32px;
            border-radius: 0px 4px 4px 0px;
            background: $gray;
            @include flex-center;
        }
    }
}
.per-page {
    width: min-content !important;
}
.m-table-content {
    table {
        thead {
            th {
                &:first-of-type {
                    max-width: 200px;
                }
            }
        }
        tbody {
            tr {
                td {
                    &:first-of-type {
                        max-width: 200px;
                        >div {
                            word-break: break-all;
                        }
                    }
                }

            }
        }
    }
}

.search-dropdown {
    width: 300px;
    border: 1px solid $primary !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
    .search-input {
        height: 40px;
        padding: 1px 16px;
        border: none;
        border-bottom: 1px solid $platinum;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 100%;
        &:focus {
            outline: none;
            border-bottom: 1px solid $primary;
        }
    }
    .search-results {
        list-style: none;
        .results-item {
            padding: 10px 16px;
            color: $light-black;
            cursor: pointer;
            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }
}

.st-title {
    .close {
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}
