.order {
    &-sml-box {
        width: 100%;
        background: $white;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;
        box-shadow: none;
        position: relative;
        padding: 12px;
        text-align: left;
        .badges {
            position: absolute;
            background: red;
            top: -1px;
            right: -1px;
            width: 20px;
            height: 20px;
            border-top-right-radius: 4px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: white;
                width: 29px;
                height: 15px;
                left: -9px;
                bottom: -3px;
                transform: rotate(45deg);
            }
            &.open-badges {
                background: $open-badge;
            }
            &.archive-badges {
                background: $danger;
            }
            &.progress-badges {
                background: $brown;
            }
            &.revision-badges {
                background: $revision-badge;
            }
        }
        .number {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.open-archive {
    flex-wrap: wrap;
    position: relative;
    padding-right: 150px;
    &-right {
        margin: 0 16px;
    }
    &-box {
        width: 132px;
        margin-right: 16px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &-btn {
        margin-left: auto;
        margin-top: 33px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.inprogress-tab {
    padding-right: 0;
    @include for-max-1799 {
        flex-wrap: wrap;
    }
    &-top {
        flex-wrap: wrap;
    }
}

.open-archive-right {
    margin: 0 16px;
    @include for-max-575 {
        margin: 0 16px 0 0;
    }
}

.report {
    border-radius: 4px;
    padding: 32px;
    .chart-btn {
        margin-right: 12px;
        &:last-of-type {
            margin-right: 12px;
        }
    }
}

.order-table {
    @include order-table;
    .status {
        display: inline-flex;
        align-items: center;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: red;
            margin-right: 8px;
        }
        &.success-status {
            color: $success;
            &::before {
                background: $success;
            }
        }
        &.warning-status {
            color: $warning;
            &::before {
                background: $warning;
            }
        }
        &.danger-status {
            color: $danger;
            &::before {
                background: $danger;
            }
        }
        &.accepted-status {
            color: $accepted;
            &::before {
                background: $accepted;
            }
        }
    }
}

.group {
    .icon {
        position: absolute;
        right: 16px;
        top: 14px;
        pointer-events: none;
    }
}

.order-add {
    &-box {
        border-radius: 8px;
        &__form {
            padding: 32px;
        }
    }
}

.order-dropdown {
    button {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        background: $white;
        align-items: center;
        color: $light-black;
        height: 40px;
        border: none;
        &:hover {
            background: $white;
            color: $light-black;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            background: $white;
            color: $light-black;
        }
        &:active {
            box-shadow: none;
        }
    }
    .dropdown-menu {
        width: 100%;
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        padding: 0;
        .dropdown-item {
            padding: 16px;
            &:hover {
                background: $primary;
                color: $white;
            }
        }
        li {
            &:nth-child(1) {
                border-bottom: 1px solid $platinum;
                .dropdown-item {
                    &:hover {
                        background: $white;
                        color: $light-black;
                    }
                }
            }
        }
    }
}

.order-details-box {
    // padding: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
    overflow: hidden;
    .box-header {
        background: $primary-shade;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 32px;
        .edit {
            background: $white;
            width: 88px;
            height: 32px;
            padding: 8px 12px;
            color: $light-black;
            font-size: 16px;
            border-radius: 4px;
        }
        .add-call {
            width: initial;
        }
    }
    .box-body {
        margin-top: 20px;
        padding: 0 32px 32px 32px;
    }
}

.order-details-top {
    // border-bottom: 1px solid $platinum;
    // padding-bottom: 20px;
    // .left {
    //     margin-bottom: 20px;
    // }
    // .right {
    //     margin-bottom: 20px;
    // }
}

.list__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    &:last-of-type {
        margin-bottom: 0;
    }
    .left-side {
        width: 140px;
        min-width: 140px;
    }
    .right-side {
        font-weight: 600;
    }
    span {
        margin: 0 15px;
    }
    .left-side,
    .right-side {
        color: $light-black;
    }
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.order-details-list {
    .left {
        .list__group {
            &:nth-of-type(2),
            &:nth-of-type(5),
            &:nth-of-type(10) {
                // margin-bottom: 32px;
            }
        }
    }
    .right {
        &:nth-of-type(3),
        &:nth-of-type(5) {
            // margin-bottom: 32px;
        }
    }
    .list__group {
        margin-bottom: 16px;
    }
    .middle {
        .group {
            .dashboard-input {
                border: 1px solid $gray;
                color: $light-black;
            }
        }
    }
}

.details-header {
    color: $light-black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.right-scedule {
    width: 132px;
    .dashboard-input {
        border: 1px solid $gray;
        font-weight: 700;
        color: $light-black;
    }
}

.right-edit {
    width: 132px;
    border: 1px solid $gray;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 700;
    padding: 2px 10px;
}

.button-132 {
    width: 132px;
}

.button-142 {
    width: 142px;
}

.col-log {
    // margin-top: 32px;
    table {
        border-collapse: separate;
        border-spacing: 0;
        th,
        td {
            border-color: $platinum !important;
        }
        tbody {
            tr {
                &:last-of-type {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.order-map {
    margin-top: 48px;
    &-checkbox {
        .checkbox-group {
            margin-right: 24px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.map {
    iframe {
        width: 100%;
        border-radius: 8px;
    }
}

.order-tabs {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid $platinum;
    &-menu {
        max-width: 488px;
        width: 100%;
        margin-right: 24px;
        .nav-link {
            background: $tabs-bg !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 20px;
            color: $light-black;
            font-size: 16px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
            &.active {
                color: $white;
                font-weight: bold;
                background: $primary !important;
                .icon-arrow-down {
                    display: block;
                }
            }
        }
        .icon-arrow-down {
            display: none;
            transform: rotate(-90deg);
        }
    }
    &-content {
        flex-grow: 1;
        background: $platinum;
        border-radius: 8px;
        padding: 24px;
        .report-preparation-tabs {
            max-width: 424px;
            .tabs-list {
                width: fit-content;
                border-bottom: 1px solid $white;
                .nav-item {
                    margin-right: 32px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                .nav-link {
                    padding: 0;
                    padding-bottom: 8px;
                    color: $light-black;
                    &.active {
                        background-color: transparent;
                        font-weight: bold;
                        position: relative;
                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: $primary;
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                        }
                    }
                }
            }
        }
        .dashboard-input {
            color: $light-black;
        }
    }
}

.document {
    &-file {
        &-folder {
            height: 40px;
            padding: 0 12px;
            display: flex;
            align-items: center;
            color: $light-black;
        }
        .file-upload {
            label {
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.feed {
    &-list {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.invoice-border {
    border-bottom: 1px solid $platinum;
    padding-bottom: 20px;
}

.share-box {
    border-radius: 4px;
    @include inline-flex-center;
}

.queries-row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    @include for-min-1600 {
        grid-column-gap: 30px;
    }
    .solution {
        border-top: 1px solid $sky-blue;
        padding-top: 8px;
    }
}

.queries-box {
    border-radius: 4px;
    padding: 4px 12px;
    .badges {
        border-radius: 4px 0px;
        width: 60px;
        height: 20px;
        color: $white;
        font-size: 12px;
        @include inline-flex-center;
        position: absolute;
        top: 0;
        left: 0;
        &.pending-badges {
            background: $light-red;
        }
        &.solved-badges {
            background: $sky-blue;
        }
    }
    .icon-eye {}
    &.pending {
        background: $pending;
        .icon-eye {
            color: $light-red;
        }
    }
    &.solved {
        background: $solved-bg;
        svg {
            path {
                fill: $sky-blue;
            }
        }
        .icon-eye {
            color: $sky-blue;
        }
    }
}

.middle-details-contact {
    margin-bottom: 70px;
}

.add-border {
    border-bottom: 1px solid $primary;
}

.box-header {
    font-size: 20px;
    color: $light-black;
    font-weight: bold;
}

table {
    border-collapse: separate !important;
    border-spacing: 0;
    tr {
        td,
        th {
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    tbody {
        tr {
            &:last-of-type {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}

.nav-link {
    font-size: 16px;
}

select {
    cursor: pointer;
}

.inspection-item {
    .top-bar {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .item {
            background: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            padding-bottom: 8px;
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
            &.active {
                border-bottom: 2px solid $primary;
                font-weight: bold;
            }
        }
    }
}

.workflow-content {
    display: flex;
    .list {
        border-right: 1px solid $platinum;
        flex-basis: 40%;
        .item {
            display: flex;
            align-items: center;
            margin-bottom: 36px;
            cursor: pointer;
            p {
                color: $gray;
            }
            .ball {
                width: 24px;
                height: 24px;
                border: 1px solid $gray;
                border-radius: 50%;
                @include flex-center;
                margin-right: 16px;
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: 24px;
                    border-radius: 8px;
                    background: $gray;
                    position: absolute;
                    top: calc(100% + 6px);
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            p {
                line-height: 1;
            }
            &:last-of-type {
                .ball {
                    &::after {
                        display: none;
                    }
                }
            }
            img {
                display: none;
            }
            &.complete {
                .ball {
                    background: $success;
                    border-color: $success;
                    &::after {
                        background: $success;
                        width: 2px;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 6px;
                        height: 10px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        position: absolute;
                        transform: rotate(45deg);
                        top: 6px;
                    }
                }
                p {
                    color: $light-black;
                }
            }
            &.current {
                .ball {
                    border-color: transparent;
                }
                img {
                    display: block;
                }
                p {
                    font-weight: bold;
                    color: $primary;
                }
            }
        }
    }
    .step-item {
        flex-basis: 60%;
        padding-left: 48px;
    }
}

.document-upload {
    label {
        padding: 8px 12px !important;
        background: $white;
        border: none !important;
        font-weight: bold;
        font-size: 16px !important;
    }
}

.report-upload {
    display: inline-flex;
    align-items: center;
    label {
        padding: 0 !important;
        border: none !important;
        color: $primary !important;
    }
}

.note-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    .order-details-box {
        margin: 0 !important;
        &:nth-child(3) {
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
}

.message {
    background: $platinum;
    border-radius: 8px;
    padding: 6px 20px;
    max-width: 300px;
    p {
        color: $light-black;
    }
}

.chat-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    &:nth-child(odd) {
        .message {
            background: $chat-2;
        }
    }
    &:nth-child(even) {
        .message {
            background: $chat-3;
        }
    }
    &:nth-child(3n+4) {
        .message {
            background: $chat-4;
        }
    }
    &:nth-child(5n+5) {
        .message {
            background: $chat-5;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.chat-name {
    width: 200px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }
}

.note-chat {
    max-height: 400px;
    overflow: auto;
    &::-webkit-scrollbar-track {
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #9697A0;
    }
}

//  modal
.modal {
    .modal-content {
        padding: 32px 16px;
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }
    .modal-header {
        border-bottom: 0;
        padding: 0;
    }
    .modal-body {
        padding: 0;
    }
    .modal-footer {
        padding: 0;
        border-top: 0;
        margin-top: 48px;
        .btn-primary {
            padding: 10px 50px;
            background: $primary;
            border-color: $primary;
        }
        .btn-secondary {
            background: transparent;
            padding: 10px 50px;
            color: $gray;
            border: none;
        }
    }
    .close {
        display: none;
    }
    .modal-title {
        margin-bottom: 24px;
    }
    .dashboard-textarea {
        border-color: $gray;
    }
}

.order-details-modal {
    .modal-dialog {
        max-width: 912px;
    }
    .modal-body {
        border: 1px solid rgba(25, 183, 162, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }
}

#borrower-info {
    .modal-dialog {
        max-width: 456px;
    }
}

#issue-info {
    .modal-dialog {
        max-width: 456px;
    }
}

#contact-info {
    .modal-dialog {
        max-width: 456px;
    }
}

#client-info {
    .modal-dialog {
        @include for-min-1200 {
            max-width: 912px;
        }
    }
    .file-upload {
        label {
            height: 40px;
            display: inline-flex;
            align-items: center;
        }
    }
}

.group span.error-message {
    display: inline-block;
}

.invalid-form input,
.invalid-form select,
.invalid-form textarea {
    border: thin solid #c44;
    color: #c44;
}

.invalid-form span.error-message {
    font-size: 14px;
    color: #af2a2a;
    font-weight: 500;
}

.order-details-header {
    .due {
        display: inline-block;
        color: $due;
        border: 1px solid $due;
        background: $due-shade;
        padding: 3px 16px;
        border-radius: 26px;
    }
}

.current-status-group {
    select {
        width: 132px;
        height: 40px;
        border: 1px solid $gray !important;
    }
}