.sidebar {
    transition: all .3s ease-in;
    .items-text {
        transition: all .3s ease-in;
        display: block;
    }
    &__width {
        width: 264px;
        min-width: 264px;
    }
    &__logo {
        padding: 8px 0 0 40px;
        height: 64px;
        transition: all .3s ease-in;
    }
    &__collapse {
        &__btn {
            width: 32px;
            height: 32px;
            margin-left: auto;
            @include flex-center;
            flex-direction: column;
            background: $deep-black;
            border: none;
            .bars {
                width: 18px;
                height: 2px;
                border-radius: 10px;
                display: block;
                margin-bottom: 6px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__menu-list {
        .list-item {
            padding: 12px 18px 12px 40px;
            transition: all .3s ease-in;
            &:hover {
                background: $primary;
                .icon-arrow-down {
                    display: block;
                }
            }
            &.active {
                background: $primary;
                .icon-arrow-down {
                    display: block;
                }
                font-weight: 700;
            }
            .icon-arrow-down {
                transform: rotate(-90deg);
                font-size: 18px;
                display: none;
            }
        }
    }
}
// collapse
.sidebar-collapse {
    width: 80px;
    min-width: 80px;
    .items-text {
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }
    .sidebar__menu-list {
        .list-item {
            padding: 12px 18px 12px 20px;
        }
    } 
    .sidebar__logo {
        padding-left: 20px;
    }
}

.sidebar-dropdown {
   
    .submenu {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        background: #223045;
        display: none;
        .submenu-item {
            color: $white;
            padding: 10px 20px;
            padding-left: 65px;
            .submenu-link {
                padding: 3px;
                display: block;
            }
            &:hover {
                background: $primary;
            }

        }
    }
    &:hover {
        .list-item {
            background: $primary;
        }
        .icon-arrow-down {
            display: block;
        }
    }
    
}


// @-moz-keyframes rotateX {
//     0% {
//       opacity: 0;
//       transform: rotateX(-90deg);
//     }
//     50% {
//       transform: rotateX(-20deg);
//     }
//     100% {
//       opacity: 1;
//       transform: rotateX(0deg);
//     }
//   }
//   @-webkit-keyframes rotateX {
//     0% {
//       opacity: 0;
//       transform: rotateX(-90deg);
//     }
//     50% {
//       transform: rotateX(-20deg);
//     }
//     100% {
//       opacity: 1;
//       transform: rotateX(0deg);
//     }
//   }
//   @-o-keyframes rotateX {
//     0% {
//       opacity: 0;
//       transform: rotateX(-90deg);
//     }
//     50% {
//       transform: rotateX(-20deg);
//     }
//     100% {
//       opacity: 1;
//       transform: rotateX(0deg);
//     }
//   }
//   @keyframes rotateX {
//     0% {
//       opacity: 0;
//       transform: rotateX(-90deg);
//     }
//     50% {
//       transform: rotateX(-20deg);
//     }
//     100% {
//       opacity: 1;
//       transform: rotateX(0deg);
//     }
//   }
  