.email-error {
    border-color: $due !important;
    background: $danger-light !important;
    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(244 53 38 / 25%);
        border-color: $due !important;
    }
}

.user-prev-body {
    .close-btn {
        display: block !important;
    }
}
