// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color
$primary: #19B7A2;
$light-black: #2F415E;
$deep-black: #182A47;
$gray:#7E829B;
$platinum: #E5E5E5;
$gold: #F4CC63;
$sky-blue: #71CCFF;
$brown: #F99A73;
$light-red: #F97373;
$green:  #7DE07B;
$white: #ffffff;
$open-badge: $sky-blue;
$danger: #FF4737;
$due: #E74335;
$danger-light: #FFE5DA;
$revision-badge: #4285F5;
$success: #34A851;
$warning: #E7AB04;
$accepted: $revision-badge;
$tabs-bg: #F1F1F1;
$pending: #FFF1EC;
$solved-bg: #E3F5FF;
$login-box: #F6F6F6;
